# TODO: move credentials to system config file once cli supports it
OPENAI_API_KEY=
OPENAI_CODEX_ACCESS_TOKEN=
ANTHROPIC_API_KEY=
DEEPSEEK_API_KEY=
ZAI_API_KEY=

# TODO: refactor to use MCP for WebSearch tool as it offers API key-free access
EXA_API_KEY=
